<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Transaction</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="expense-container">

    <h1>✏️ Edit Transaction</h1>

    <form method="POST">

        <label>Category</label>
        <input
            type="text"
            name="category"
            value="{{ transaction[3] }}"
            required
        >

        <label>Amount</label>
        <input
            type="number"
            name="amount"
            value="{{ transaction[2] }}"
            required
        >

        <label>Description</label>
        <input
            type="text"
            name="description"
            value="{{ transaction[4] }}"
        >

        <button type="submit" class="primary-btn">
            💾 Update Transaction
        </button>

    </form>

    <a href="/transaction_history" class="back-btn">
        ⬅ Back to Transaction History
    </a>

</div>

</body>
</html>