<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <h2>Expense Tracker</h2>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <section class="hero">

        <h1>Manage Your Money Smarter</h1>

        <p>
            Track your income, expenses, savings and achieve your financial goals.
        </p>

        <div class="buttons">
           <a href="/login" class="primary-btn">Get Started</a>
           <a href="/learn_more" class="secondary-btn">Learn More</a>
        </div>

    </section>

</body>
</html>
