<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More | Expense Tracker</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>
        <h2>Expense Tracker</h2>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/learn_more">Learn More</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <section class="learn-more">

        <h1>Learn More About Expense Tracker</h1>

        <p class="intro">
            Expense Tracker is a simple and secure web application
            that helps you manage your personal finances efficiently.
        </p>

        <div class="info-box">

            <h2>Why Choose Expense Tracker?</h2>

            <p>
                Keeping track of your income and expenses is one of
                the best habits for financial planning.
                Our Expense Tracker makes it easy to record every
                transaction, monitor your balance and understand
                your spending habits.
            </p>

        </div>

        <div class="info-box">

            <h2>Benefits</h2>

            <ul>
                <li>✔ Manage Income Easily</li>
                <li>✔ Track Daily Expenses</li>
                <li>✔ Monitor Current Balance</li>
                <li>✔ View Transaction History</li>
                <li>✔ Search & Filter Transactions</li>
                <li>✔ Generate Reports</li>
                <li>✔ Secure Login System</li>
                <li>✔ User Friendly Interface</li>
            </ul>

        </div>

        <div class="info-box">

            <h2>How It Works</h2>

            <ol>
                <li>Create your account.</li>
                <li>Login securely.</li>
                <li>Add your income.</li>
                <li>Record your expenses.</li>
                <li>View your dashboard and reports.</li>
            </ol>

        </div>

        <a href="/login" class="primary-btn">
            Get Started
        </a>

        <div class="cta-box">

            <h2>Start Managing Your Money Today</h2>
            <p>Take control of your finances by tracking every income and expense. Stay organized, save more and acheive your financial goals with Expense Tracker.</p>
          
            <a href="/register" class="primary-btn">
                Create Free Account
            </a>
    </section>

</body>
</html>