<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Expense Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="login-container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="background:#d4edda; color:#155724; padding:10px; border-radius:8px; margin-bottom:15px; text-align:center;">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <h2>Welcome Back 👋</h2>

    <p>Login to your Expense Tracker account</p>

    <form method="POST">

        <input type="email"
               name="email"
               placeholder="Enter Email"
               required>

        <input type="password"
               name="password"
               placeholder="Enter Password"
               required>

        <button class="primary-btn">
            Login
        </button>

    </form>

    <p class="register-link">

        Don't have an account?

        <a href="/register">
            Register
        </a>

    </p>

</div>

</body>
</html>